/* Login.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
   /* Light grey background */
  }
  
  .login-form {
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .input-field {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* Include padding in width */
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  /* Add margin-right to the login button */
  button.login-button {
    margin-right: 10px; /* Adjust the space between buttons */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  button.logout-button {
    margin-top: 20px; /* Adjust the space above the logout button */
  }